.font-serif {
    font-family: 'Playfair Display', serif !important;
}

.font-sans {
    font-family: 'Inter', sans-serif !important;
}

.spinner {
    display: none;
    width: 1.2rem;
    height: 1.2rem;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

.text-primary {
    color: #3A4F31;
}

.text-secondary {
    color: #FF6200;
}

.bg-primary {
    background-color: #3A4F31;
}

.border-primary {
    border-color: #3A4F31;
}

.bg-secondary {
    background-color: #FF6200;
}

.header-image {
    margin-top: -110px;
    margin-bottom: -110px;
    z-index: -10;
}

.shadow-custom {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.btn {
    border-radius: 9999px;
    padding: 0.8rem 1.8rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}
.btn-primary {
    background-color: #FF6200;
    color: white;
}
    .btn-primary:hover {
        background-color: #FF7A00;
    }
    .btn-primary:active {
        background-color: #FF4D00;
    }
.btn-secondary {
    box-shadow: inset 0 0 0 2px #3A4F31;
    color: #3A4F31;
}
    .btn-secondary:hover {
        background-color: #3a4f31cc;
        box-shadow: inset 0 0 0 2px #3a4f31cc;
        color: white;
    }
    .btn-secondary:active {
        background-color: #3A4F31;
        color: white;
    }

.border-greenlight {
    border-color: #818A7C;
}

.btn-green {
    background-color: #3A4F31;
    color: white;
}
    .btn-green:hover {
        background-color: #818A7Ccc;
        box-shadow: inset 0 0 0 2px #818A7Ccc;
        color: white;
    }
    .btn-green:active {
        background-color: #818A7C;
        color: white;
    }

    .end-text {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgba(255, 255, 255, 64.973) 34%, rgb(255 255 255 / 100%) 83%, rgb(255, 255, 255) 100%)
    }

.confirm-container {
    background-image: url(/img/confirm-cover.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
.main-card {
    margin-top: 315px;
}

@keyframes spin { to { transform: rotate(360deg); } }
.loading .spinner { display: inline-block; }
.loading .btn-text { display: none; }